{{page-title "Website2"}}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#"><i class="fa fa-calendar"></i>
            DateTimePicker
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li><a href="#"><i class="fa fa-fw fa-search"></i> Search</a></li>
        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
        <li><a href="#"><i class="fa fa-fw fa-user"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <h2 class="page-header">Bootstrap 3 and jQuery 3</h2>
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>Jquery 3.7.1</li>
        <li>Bootstrap 3.4.1</li>
      </ul>
    </div>
  </div>

  <h2 class="page-header">Bootstrap 3 Glyphicons and Font Awesome 4.7.0</h2>
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>Bootstrap 3 Glyphicons</li>
        <li>Font Awesome 4.7.0</li>
      </ul>
    </div>
  </div>

  <h2 class="page-header">Bootstrap 3 DateTimePicker with Bootstrap 3</h2>
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>Moment v2.29.4</li>
        <li>Moment Timezone v0.4.1</li>
        <li>Eonasdan Bootstrap 3 DateTimePicker</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <form action="" method="post">
        <p>
          <label>12hr Date-Time:</label>
          <div class="input-group date" id="id_0">
            {{! template-lint-disable require-input-label }}
            <input
              type="text"
              value="05/16/2018 12:31:00 AM"
              class="form-control"
              required
            />
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </span>
          </div>
        </p>
        <p>
          <label>24hr Date-Time:</label>
          <div class="input-group date" id="id_1">
            {{! template-lint-disable require-input-label }}
            <input
              type="text"
              value="05/16/2018 11:31:00"
              class="form-control"
              required
            />
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </span>
          </div>
        </p>
        <p>
          <label>12hr Time:</label>
          <div class="input-group date" id="id_2">
            {{! template-lint-disable require-input-label }}
            <input
              type="text"
              value="12:31:00 AM"
              class="form-control"
              required
            />
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-time fa fa-clock-o"></i>
            </span>
          </div>
        </p>
        <p>
          <label>24hr Time:</label>
          <div class="input-group date" id="id_3">
            {{! template-lint-disable require-input-label }}
            <input type="text" value="11:31:00" class="form-control" required />
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-time fa fa-clock-o"></i>
            </span>
          </div>
        </p>
        <p>
          <label>Date only:</label>
          <div class="input-group date" id="id_4">
            {{! template-lint-disable require-input-label }}
            <input
              type="text"
              value="05/16/2018"
              class="form-control"
              required
            />
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </span>
          </div>
        </p>
      </form>
    </div>

    <h2 class="page-header">Alpaca Forms</h2>
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>Alpaca</li>
          <li>jQuery</li>
          <li>Bootstrap</li>
          <li>Handlebars</li>
          <li>Eonasdan Bootstrap 3 DateTimePicker</li>
        </ul>
      </div>
    </div>

  </div>
</div>

{{outlet}}