{{page-title "Global Technology Solution - Website"}}
<div class="table-wrapper">
  <table class="table-taxinfo">
    <thead>
      <tr>
        <th colspan="2" itemprop="name"><span
            class="copy"
            data-original-title=""
            title=""
          >CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ TOÀN CẦU</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-globe"></i> Tên quốc tế</td>
        <td itemprop="alternateName"><span
            class="copy"
            data-original-title=""
            title=""
          >GLOBAL TECHNOLOGY SOLUTION COMPANY LIMITED</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-reorder"></i> Tên viết tắt</td>
        <td itemprop="alternateName"><span
            class="copy"
            data-original-title=""
            title=""
          >GLOBAL TECHNOLOGY SOLUTION CO., LTD</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-hashtag"></i> Mã số thuế</td>
        <td itemprop="taxID"><span
            class="copy"
            data-original-title=""
            title=""
          >2301152169</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-map-marker"></i> Địa chỉ</td>
        <td itemprop="address"><span
            class="copy"
            data-original-title=""
            title=""
          >Khu Nghi An, Phường Trạm Lộ, Thị xã Thuận Thành, Tỉnh Bắc Ninh, Việt
            Nam</span></td>
      </tr>
      <tr itemprop="alumni" itemscope="" itemtype="http://schema.org/Person">
        <td><i class="fa fa-user"></i> Người đại diện</td>
        <td><span itemprop="name"><a
              href="https://masothue.com/search/?q=Nguy%E1%BB%85n+Vi%E1%BA%BFt+M%E1%BA%A1nh&type=legalName"
              title="tra cứu mã số thuế công ty có giám đốc NGUYỄN VIẾT MẠNH"
            >NGUYỄN VIẾT MẠNH</a></span>
          (<i class="fa fa-male" title="giới tính Nam"></i>
          sinh năm 1983 - Bắc Ninh)
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-phone"></i> Điện thoại</td>
        <td itemprop="telephone">
          <span
            class="copy"
            data-original-title=""
            title=""
          >0982411958</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar"></i> Ngày hoạt động</td>
        <td><span
            class="copy"
            data-original-title=""
            title=""
          >2020-10-30</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-users"></i> Quản lý bởi</td>
        <td><span class="copy" data-original-title="" title="">Chi cục Thuế khu
            vực Gia Thuận</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-building"></i> Loại hình DN</td>
        <td><a
            href="https://masothue.com/tra-cuu-ma-so-thue-theo-loai-hinh-doanh-nghiep/cong-ty-trach-nhiem-huu-han-2-thanh-vien-tro-len-ngoai-nn-4"
            title="tra cứu mã số thuế Công ty trách nhiệm hữu hạn 2 thành viên trở lên ngoài NN"
          >Công ty trách nhiệm hữu hạn 2 thành viên trở lên ngoài NN</a></td>
      </tr>
      <tr>
        <td><i class="fa fa-info"></i> Tình trạng</td>
        <td><a
            href="https://masothue.com/tra-cuu-ma-so-thue-theo-trang-thai-cong-ty/nnt-dang-hoat-dong-da-duoc-cap-gcn-dkt-2"
            title="tra cứu mã số thuế công ty Đang hoạt động (đã được cấp GCN ĐKT)"
          >Đang hoạt động (đã được cấp GCN ĐKT)</a></td>
      </tr>
    </tbody>
  </table>
</div>
{{outlet}}